@import '../../../asset/styles/import';
.content {
  width: 100%;
  position: relative;
  background: #fff;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  image{
    width: 100%;
  }
}
