@import '../../../../asset/styles/import';
.profit-detail{
  .title{
    background: #ececec;
    height: 75px;
    line-height: 75px;
    color: #acacac;
    font-size: 24px;
    padding: 0 24px;
  }
  .item{
    padding: 32px 32px 32px 24px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 24px;
      .desc{
        font-size: 30px;
      }
      .amount{
        font-size: 34px;
        font-weight: 500;
        margin-left: 100px;
        &.add{
          color: #ff8b52;
        }
      }
    }
    .bottom{
      font-size: 28px;
      color: #acacac;
    }
  }
}
