@import '../../asset/styles/import';
.card {
  width: 100%;
  position: relative;
  background: #fff;
  margin-bottom: 24px;
  .header {
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    .title{
      padding: 6px 15px;
      height: 42px;
      border-radius: 22.5px;
      background-color: #ff312a;
      color: #fff;
      font-size: 22px;
    }
  }
}
