@import '../../../asset/styles/import';
.banner {
  width: 100%;
  position: relative;
  background: #fff;
  height: 750px;
  swiper{
    width: 100%;
    height: 100%;
  }
  image{
    width: 100vw;
  }
  .index{
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 92px;
    height: 48px;
    opacity: 0.3;
    border-radius: 24px;
    background-color: #000000;
    font-size: 24px;
    color: #fff;
    line-height: 48px;
    text-align: center;
  }
}
