@import '../../../asset/styles/import';
.btn-group {
  width: 100%;
  position: fixed;
  z-index: 9998;
  bottom: 0;
  left: 0;
  background: #f7f7fa;
  height: 120px;
  .form{
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    button{
      float: left;
      height: 100%;
      border-radius: 0;
      padding: 0;
      margin: 0;
      border: none;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &:active{
        transform: none;
        .inner{
          transform: scale(0.96);
          transition: 0.3s all;
        }
      }
    }
    .buy, .share{
      color: #f7f7fa;
      width: 36%;
      background: #f4aba7;
      .price{
        font-size: 40px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: start;
        .unit{
          font-size: 28px;
          margin-top: 4px;
        }
      }
      .bottom-tip{
        font-size: 26px;
      }
    }

    .home{
      font-size: 20px;
      color: #4e606a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 28%;
      image{
        margin-bottom: 10px;
        height: 50px;
        width: 50px;
      }
    }

    .bottom-tip{
      margin-top: 8px;
      font-size: 20px;
    }

    .share{
      background: #ff312a;
      width: 36%;
    }
  }
}
