.too-add-tip{
	display: flex;
	height: 80rpx;
	background: #fdd035;
	justify-content: space-between;
	align-items: center;
	padding: 0 30rpx;
  font-weight: bold;
	.shouzhi{
		position: absolute;
		right: 110rpx;
		animation: beat 0.5s infinite;
	}
	@keyframes beat {
		0%{
			top: 0%;
		}
		50%{
			top: 10rpx;
		}
		100%{
			top: 0;
		}
	}
}
