.top{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #E5E5E5;
  image{
    width: 120rpx;
    height: 120rpx;
    margin-top: 80rpx;
  }
  .balance{
    font-size: 36rpx;
    color: #333333;
    letter-spacing: 0;
    line-height: 28rpx;
    margin-top: 30rpx;
  }
  .amount{
    font-size: 72rpx;
    color: #000000;
    letter-spacing: 0;
    line-height: 64rpx;
    margin-top: 20rpx;
  }
  button{
    width: 570rpx;
    height: 94rpx;
    margin-top: 50rpx;
    line-height: 94rpx;
  }
  .tip{
    font-size: 32rpx;
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: 32rpx;
    margin-top: 40rpx;
  }
}
.detail{
  font-size: 32rpx;
  color: #999999;
  letter-spacing: 0;
  height: 56rpx;
  background: #F5F5F5;
  padding-left: 30rpx;
  line-height: 56rpx;
  margin-top: 40rpx;
}
.list{
  .item{
    height: 120rpx;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rpx solid rgba(0,0,0,0.12);
    .left{
      flex-shrink: 0;
      display: flex;
      align-items: center;
      image{
        width: 64rpx;
        height: 64rpx;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 20rpx 0 30rpx;
      }
    }
    .right{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .title{
          font-size: 36rpx;
          color: #333333;
          letter-spacing: 0;
          line-height: 28rpx;
          margin-bottom: 16rpx;
        }
        .time{
          font-size: 28rpx;
          color: #999999;
          letter-spacing: 0;
          line-height: 22rpx;
        }
      }
      .money{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: 36rpx;
        color: #FF6673;
        letter-spacing: 0;
        text-align: right;
        line-height: 26rpx;
        margin: 0 26rpx;
      }
    }
  }
}
