@import "../../asset/styles/import";
.custom-modal{
  top:0;
  left: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
  .bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.8;
    background: #000000;
  }
  .inner{
    border-radius: 4px;
    background-color: #fffeff;
    position: relative;
    width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: living .3s linear 1;
    padding-top: 80px;
    padding-bottom: 60px;
    @keyframes living {
      0%{
        transform: scale(1.1);
      }
      33%{
        transform: scale(1);
      }
      66%{
        transform: scale(0.9);
      }
      100%{
        transform: scale(1);
      }
    }
    .title{
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .content{
      margin-bottom: 88px;
      font-size: 34px;
      width: 377px;
      color: $gray;
      letter-spacing: 0;
      text-align: center;
    }
    .button-group{
      button{
        font-size: 34px;
        border-radius: 40px;
        padding: 20px 70px;
        line-height: 1;
        &.red{
          color: #fff;
          background-color: #ff312a;
        }
      }
    }
    .close{
      position: absolute;
      right: 24px;
      top: 24px;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
    }
  }
}
