.add-btn{
  position: fixed;
  bottom: 0;
  background: #D63036;
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  color: #F9F9F9;
  text-align: center;
  width: 100%;
  text{
    display: block;
    transition: all 0.3s;
  }
  &:active{
    text{
      transform: scale(0.95);
    }
  }
}
