.user{
	position: fixed;
	right: 20rpx;
  bottom: 480rpx;
	flex-shrink: 0;
	z-index: 999;
  width: 240rpx;
  button{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60rpx;
    display: flex;
    align-items: center;
    background: #FFBA59;
    border-radius: 30rpx;
    font-weight: bold;
    font-size: 30rpx;
    color: #333333;
    text-align: center;
    line-height: 28rpx;
  }

  open-data{
    width: 50rpx;
    height: 50rpx;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8rpx;
    margin-left: 6rpx;
  }
}
