@import '../../asset/styles/import';
.card-container {
  background: #FFFFFF;
  box-shadow: 0 12px 32px 0 rgba(0,0,0,0.06);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
