@import '../../../asset/styles/import';
.desc {
  width: 100%;
  position: relative;
  background: #fff;
  height: 219px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  .main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
      font-size: 50px;
      font-weight: 500;
      color: #e23a32;
      display: flex;
      align-items: center;
      justify-content: center;
      text{
        font-size: 36px;
        height: 50px;
        font-weight: 500;
        width: 36px;
        line-height: 56px;
      }
    }
    .sale-num{
      display: flex;
      align-items: center;
      font-size: 22px;
      color: #9b9b9b;
    }
  }
  .subscribe{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    margin-top: 14px;
  }
}
