@import '../../../asset/styles/import';
.guide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 120px;
  width: 100%;
  z-index: 1;
  background: rgba(#000, 0.7);
  .tip{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #000000;
    position: absolute;
    bottom: 40px;
    background: #fff;
    line-height: 34px;
    padding: 0 16px;
    font-weight: 500;
    &::after{
      position: absolute;
      content: "";
      bottom: -18px;
      height: 0px;
      width: 0px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
    }
  }
  .call{
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg t='1537926759591' class='icon' style='' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1169' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='200'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath d='M875.885714 561.371429c12.8-12.8 20.114286-31.085714 20.114286-51.2 0-42.057143-34.742857-76.8-76.8-76.8h-149.942857c14.628571-45.714286 21.942857-104.228571 21.942857-129.828572v-25.6c0-56.685714-45.714286-102.4-102.4-102.4h-25.6c-10.971429 0-21.942857 7.314286-25.6 20.114286l-14.628571 56.685714c-20.114286 78.628571-82.285714 164.571429-146.285715 181.028572-10.971429-29.257143-38.4-49.371429-71.314285-49.371429H153.6c-14.628571 0-25.6 10.971429-25.6 25.6v462.628571c0 12.8 10.971429 23.771429 25.6 23.771429h153.6c31.085714 0 56.685714-18.285714 69.485714-43.885714l87.771429 29.257143c29.257143 9.142857 58.514286 14.628571 89.6 14.628571H768c42.057143 0 76.8-34.742857 76.8-76.8 0-9.142857-1.828571-20.114286-5.485714-29.257143a76.8 76.8 0 0 0 56.685714-74.971428c0-20.114286-7.314286-38.4-20.114286-51.2 12.8-12.8 20.114286-31.085714 20.114286-51.2s-7.314286-36.571429-20.114286-51.2z' fill='' p-id='1170'%3E%3C/path%3E%3Cpath d='M332.8 819.2c0 14.628571-10.971429 25.6-25.6 25.6h-128V433.371429h128c14.628571 0 25.6 10.971429 25.6 25.6v360.228571z' fill='%23FF5C21' p-id='1171'%3E%3C/path%3E%3Cpath d='M768 586.971429h51.2c14.628571 0 25.6 10.971429 25.6 25.6s-10.971429 25.6-25.6 25.6H768c-14.628571 0-25.6 10.971429-25.6 25.6s10.971429 25.6 25.6 25.6h51.2c14.628571 0 25.6 10.971429 25.6 25.6s-10.971429 25.6-25.6 25.6H768c-14.628571 0-25.6 10.971429-25.6 25.6s10.971429 25.6 25.6 25.6c14.628571 0 25.6 10.971429 25.6 25.6s-10.971429 25.6-25.6 25.6H554.057143c-25.6 0-49.371429-3.657143-73.142857-10.971429L384 800.914286V482.742857c40.228571-7.314286 78.628571-32.914286 115.2-74.971428 34.742857-40.228571 62.171429-95.085714 74.971429-144.457143l9.142857-36.571429h5.485714c27.428571 0 51.2 23.771429 51.2 51.2v25.6c0 34.742857-10.971429 100.571429-23.771429 129.828572h-53.028571c-14.628571 0-25.6 10.971429-25.6 25.6s10.971429 25.6 25.6 25.6h256c14.628571 0 25.6 10.971429 25.6 25.6s-10.971429 25.6-25.6 25.6H768c-14.628571 0-25.6 10.971429-25.6 25.6s10.971429 25.6 25.6 25.6z' fill='%23FFE9E2' p-id='1172'%3E%3C/path%3E%3Cpath d='M230.4 768a25.6 25.6 0 1 0 51.2 0 25.6 25.6 0 1 0-51.2 0Z' fill='' p-id='1173'%3E%3C/path%3E%3Cpath d='M614.4 18.285714c-14.628571 0-25.6 10.971429-25.6 25.6v53.028572c0 14.628571 10.971429 25.6 25.6 25.6 14.628571 0 25.6-10.971429 25.6-25.6V43.885714c0-14.628571-10.971429-25.6-25.6-25.6zM506.514286 131.657143l-36.571429-36.571429c-9.142857-9.142857-25.6-9.142857-36.571428 0-9.142857 9.142857-9.142857 25.6 0 36.571429l36.571428 36.571428c9.142857 9.142857 25.6 9.142857 36.571429 0 9.142857-10.971429 9.142857-25.6 0-36.571428zM795.428571 95.085714c-9.142857-9.142857-25.6-9.142857-36.571428 0l-36.571429 36.571429c-9.142857 9.142857-9.142857 25.6 0 36.571428 9.142857 9.142857 25.6 9.142857 36.571429 0l36.571428-36.571428c9.142857-9.142857 9.142857-25.6 0-36.571429z' fill='' p-id='1174'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 9px;
  }
  .left{
    width: 260px;
    height: 136px;
    left: 48px;
    &::after{
      left: 47px;
    }
  }
  .right{
    left: 320px;
    width: 340px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
      left: 150px;
    }
  }
}
