@import "../../asset/styles/import";
page{
  background: #fff;
}

button{
  padding: 0;
  border-radius: 0;
  line-height: 1;
  background: #fff;
  margin-bottom: 60px;
  text-align: left;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.06);
}
form:last-child{
  button{
    margin-bottom: 0;
  }
}
.tip{
  color: $gray;
  font-size: 26px;
  padding: 60px 0;
  text-align: center;
}
