.card-container{
	margin-bottom: 110rpx;
}
.update{
	font-size: 40rpx;
	color: #dd312f;
	padding: 20rpx 0 10rpx;
	text-align: center;
	font-weight: bold;
}
.navbar{
	padding: 40rpx 20rpx 20rpx;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	font-size: 28rpx;
	color: #fff;
	background: #000;
	display: flex;
}
.ad{
  border-radius: 6rpx;
  margin: 20rpx 20rpx 0;
  ad{
    box-shadow: 0px 0px 30rpx rgba(0,0,0,0.2);
  }
}
.change{
	display: flex;
	flex-direction: column;
	padding: 16rpx;
	position: fixed;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #fff;
	font-size: 32rpx;
	border-top-right-radius: 10rpx;
	border-bottom-right-radius: 10rpx;
	box-shadow: 5rpx 5rpx 15rpx 0rpx rgba(0, 0, 0, 0.6);
	transition: all 0.3s;
	&:active{
		background: #eee;
	}
	text{
		width: 32rpx;
		word-wrap: break-word;
	}
	image{
		width: 40rpx;
		height: 40rpx;
		margin-bottom: 5rpx;
	}
}
