@import "../../../asset/styles/import";
$lineWidth: calc(100vw - 60px - 147px - 130px*2 + 40px);

.order-detail{
  padding: 30px;
  color: #4a4a4a;
  font-size: 26px;
  .top{
    background: #fff;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 76px;
    padding-right: 71px;
    padding-top: 50px;
    .point-line{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      justify-content: space-between;
      padding: 0 65px;
      .point{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        &:after{
          content: " ";
          position: absolute;
          width: 24px;
          height: 24px;
          background: #fd8927;
          border-radius: 100%;
        }
        &.active:before{
          position: absolute;
          width: 40px;
          height: 40px;
          background: #fd8927;
          opacity: 0.2;
          content: " ";
          border-radius: 100%;
          z-index: 1;
        }
      }
      .point-split{
        margin: 0 40px;
        width: 100%;
        border-top: 1px dotted #fd8927;
      }
    }
    .point-text{
      display: flex;
      justify-content: space-between;
      .status-text{
        width: 130px;
        text-align: center;
      }
    }
  }
  .bottom{
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    padding: 40px 30px;
    .title-tip{
      color: $gray;
      display: flex;
      align-items: center;
      &:before, &:after{
        border-top: 1px solid $gray;
        width: 30px;
        content: "";
      }
      &:before{
        margin-right: 30px;
      }
      &:after{
        margin-left: 30px;
      }
    }
    .amount{
      font-size: 52px;
      color: #000000;
      display: flex;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 40px;
      .unit{
        font-size: 36px;
      }
    }
    .buy-tip{
      margin-top: 16px;
      line-height: 40px;
    }
    .line{
      border-top: 1px dotted #e4e4e4;
    }
    .buy-detail{
      width: 100%;
      margin-top: 30px;
      .item{
        height: 90px;
        display: flex;
        line-height: 90px;
        justify-content: space-between;
      }
    }
  }
  button.red{
    width: auto;
    margin-top: 80px;
  }
}
