.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.dialog .dialog-box .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 26PX;
  height: 26PX;
  background: #FFF;
  padding: 11PX 11PX;
}
.dialog-share .dialog-box {
  position: absolute;
  top: calc(50% - 210PX);
  left: 50%;
  transform: translateX(-50%);
  width: 320PX;
  height: 420PX;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 0 20PX;
  border-radius: 4PX;
  overflow: hidden;
  .close{
    width: 20PX;
    height: 20PX;
  }
  .share-title{
    text-align: center;
    font-size: 13PX;
    margin-top: 20PX;
  }
  .share-bottom{
    display: flex;
    justify-content: space-between;
    align-items:center;
    .left{
      width: 100%;
      margin-right: 20PX;
      .progress{
        height: 16PX;
        background: #ddd;
        display: flex;
        align-items: center;
        padding: 2PX;
        border-radius: 8PX;
        .inner{
          background: #f5b523;
          border-radius: 6PX;
          height: 100%;
        }
        text{
          width: 100%;
          text-align: center;
          position: absolute;
          font-size: 10PX;
        }
      }
      .tip{
        margin-top: 5PX;
        font-size: 10PX;
        color: #888;
      }
    }
    .right{
      flex-shrink: 0;
      image{
        background: none;
        width: 48PX;
        height: 48PX;
      }
    }
  }
  .share-blocks{
    width: calc(100% + 10PX);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20PX;
    .item{
      width: 33.3333%;
      margin-bottom: 20PX;
      padding-right: 10PX;
      background: none;
      .inner{
        border-radius: 6px;
        padding: 0 10PX;
        background: #ddd;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .name{
        font-size: 10PX;
        margin-top: 5PX;
      }
      .avatar{
        width: 44PX;
        height: 44PX;
        margin-top: 5PX;
      }
      .coin-num{
        margin-top: 5PX;
        width: 80%;
        font-size: 14PX;
        display: flex;
        align-items: center;
        justify-content: center;
        .iconfont{
          margin-top: 2PX;
          margin-right: 2PX;
          font-size: 14PX;
          color: #f3b725;
        }
        &.active{
          background: #f3b725;
          color: #fff;
          border-radius: 10PX;
          .iconfont{
            color: #fff;
          }
        }
      }
      .share, .has-grab{
        margin-top: 5PX;
        margin-bottom: 10PX;
        width: 100%;
        height: 22PX;
        color: #fff;
        font-size: 12PX;
        text-align: center;
        line-height: 24PX;
        border-radius: 2PX;
        &.grab{
          background: #fa9c00;
        }
        &.share{
          background: #afaeb3;
        }
      }
      .has-grab{
        color: #333;
      }
    }
  }
}
