@import '../../asset/styles/import';
.card {
  width: 100%;
  position: relative;
  background: #fff;
  .header {
    height: 76px;
    line-height: 76px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .indicator{
      width: 8px;
      height: 40px;
      background: #FF5C21;
      margin-right: 10px;
    }
    .title{
      color: #000;
      font-size: 36px;
      font-weight: 600;
    }
  }
}
