@import '../../../asset/styles/import';
.pop-share {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(#000, 0.49);
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .inner{
    width: 713px;
    height: 771px;
    margin: 200px auto 0;
    background: url("https://klimg.pptmbt.com/pub/jz/pop_share.png") no-repeat center center / contain;
    display: flex;
    justify-content: center;
    .close{
      position: absolute;
      top: 100px;
      right: 50px;
      width: 30px;
      height: 30px;
    }
    .title{
      position: absolute;
      top: 166px;
      width: 380px;
      font-size: 32px;
      line-height: 1.8;
      text-align: center;
      text{
        color: #f93753;
      }
    }
    .btn-share{
      width: 470px;
      height: 106px;
      position: absolute;
      bottom: -53px;
      background: none;
      padding: 0;
      image{
        width: 100%;
        height: 100%;
      }
    }
  }
}
