.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    z-index: 999;
    height: 90rpx;
    background: #fff;
}

.navbar-item {
    flex-grow: 1;
    text-align: center;
}

.navbar-item image {
    display: inline-block;
    width: 50rpx;
    height: 50rpx;
    vertical-align: bottom;
}

.navbar-item text {
    display: inline-block;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 40rpx;
    vertical-align: bottom;
}

.navbar-item.active text {
    color: rgb(216,30,6);
}

.navbar-item:not(:last-child) {
    border-right: 1px solid #e2e2e2;
}
