@import './asset/styles/import';

page {
  font-size: 28px;
  line-height: 1;
  color: #000;
  position: relative;
  font-weight: 400;
  background: #fff;
}

view {
  position: relative;
  box-sizing: border-box;
}
.container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hide {
  opacity: 0;
  height: 100vh;
  overflow: hidden;
}
