@import './asset/styles/import';

page {
  font-size: 28px;
  line-height: 1.4;
  color: #000;
  position: relative;
  font-weight: 400;
  background: #fff;
}

view {
  position: relative;
  box-sizing: border-box;
}
.hide {
  opacity: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: calc(100% - 60px);
  margin-left: 30px;
  overflow-x: hidden;
}

button {
  text-align: left;
  background: transparent;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-radius: 0;
  box-sizing: border-box;
  line-height: inherit;
}

button:after {
  border: none;
}

.button-hover {
  background: transparent;
}
