.order{
  .more{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0px 40px 0 rgba(0,0,0,0.1);
    width: 200px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    background: #fff;
    border-radius: 36px;
    font-size: 24px;
    color: #000000;
    margin: 0 auto 30px;
    &:active{
      background: #f9f9f9;
      transition: all 0.3s;
    }
  }
  .no-data{
    color: #9B9B9B;
    font-size: 28px;
    height: 80vh;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.item{
    padding: 0;
    border-radius: 0;
    line-height: 1;
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.02);
    &:active{
      transform: none !important;
      background: #f5f5f5 !important;
    }
  }
  .button-hover{
    transform: none !important;
    background: #f5f5f5 !important;
  }
  .modal-content{
    text{
      display: inline-block;
    }
  }
  .modal-red-text{
    color: #ff312a;
  }
}
