@import '../../../../asset/styles/import';
.address-edit{
  padding-top: 10px;
  .item{
    padding: 30px;
    font-size: 34px;
    line-height: 34px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label{
      flex-shrink: 0;
      width: 180px;
    }
    .content{
      width: 100%;
      display: flex;
      align-items: center;
      .pre{
        margin-right: 20px;
      }
      input, textarea{
        width: 100%;
      }
      picker{
        width: 100%;
      }
      .picker-placeholder{
        text-align: right;
        color: #888888;
      }
    }
  }
  .placeholder{
    color: #B2B2B2;
  }
}
