@import '../../asset/styles/import';
.barrage {
  position: fixed;
  left: 0;
  top: 0;
  background: #FFFFFF;
  border-radius: 100px;
  color: $dark;
  font-size: 24px;
  height: 56px;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .item{
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
    image{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}
