@import "../../asset/styles/import";

.hover {
  background: #F2F2F2;
}

.deactive {
  opacity: 0.2;
}

.top {
  height: 56PX;
  position: relative;
}

.top .inspirational-tip {
  line-height: 56PX;
  font-size: 24PX;
  font-weight: bold;
  color: #000;
}

.top button {
  position: absolute;
  right: 0;
  top: 15PX;
  width: 23PX;
  height: 23PX;
  font-size: 23PX;
}

.top button text {
  position: absolute;
  top: 0;
  left: 0;
}

.banner {
  width: 100%;
  height: 200PX;
  border-radius: 5PX;
  overflow: hidden;
}

.banner swiper {
  height: 100%;
}

.banner .swiperClass {
  margin: 0;
}

.banner .slide-image {
  width: 100%;
  height: 100%;
}

.middle {
  height: 54PX;
  position: relative;
}

.middle .balance {
  display: inline-block;
  color: #000;
  font-size: 16PX;
  font-weight: bold;
  height: 100%;
  line-height: 54PX;
  margin-right: 10PX;
}

.middle .balance .iconfont {
  margin-right: 8PX;
  font-weight: normal;
}

.middle .top-up {
  display: inline;
  font-size: 12PX;
  font-weight: bold;
  padding: 3PX 10PX;
  position: relative;
  top: -2PX;
  background: rgba(0,0,0,1);
  color: #FFF;
}

.middle .question {
  position: absolute;
  top: 5PX;
  right: 0;
  width: 44PX;
  height: 44PX;
}

.middle .question text {
  position: absolute;
  top: 12PX;
  right: 0;
  width: 20PX;
  height: 20PX;
}

.lipsticks-out-stock {
  width: 100%;
  height: 150PX;
  position: relative;
}

.lipsticks-out-stock .tip {
  position: absolute;
  top: calc(50% - 46PX);
  left: 0;
  width: 100%;
  height: 92PX;
}

.lipsticks-out-stock .tip image {
  position: absolute;
  top: 0;
  left: calc(50% - 30PX);
  width: 60PX;
  height: 60PX;
  background: #FFF;
}

.lipsticks-out-stock .tip text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17PX;
  font-size: 12PX;
  font-weight: 400;
  color: rgba(217,217,217,1);
  line-height: 17PX;
  text-align: center;
}

.lipsticks-list {
  width: calc(100% + 10PX);
  > form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .lipstick{
      width: 33.33333333%;
    }
  }
}

.lipstick {
  height: 257PX;
  display: inline-block;
  line-height: inherit;
  overflow: inherit;
  padding-right: 10PX;
}

.lipstick .lipstick-info {
  height: 215PX;
  border: 1px solid #ECECEC;
  text-align: left;
}

.lipstick .lipstick-info image {
  width: 100%;
  background: #fff;
  height: 145PX;
}

.lipstick .lipstick-info .lipstick-title {
  position: relative;
  left: 7%;
  top: 3PX;
  font-size: 12PX;
  line-height: 14PX;
  color: black;
  height: 28PX;
  width: 86%;
  display: block;
}

.lipstick .lipstick-info .lipstick-original-price {
  position: relative;
  left: 7%;
  top: 20PX;
  font-size: 10PX;
  font-weight: bold;
  color: black;
  height: 13PX;
  width: 86%;
  display: block;
}

.lipstick .lipstick-button {
  width: 100%;
  height: 25PX;
  line-height: 25PX;
  background: #000;
  font-size: 12PX;
  font-weight: normal;
  text-align: center;
  color: white;
}

.trial {
  position: fixed;
  transition: 0.3s all;
  right: 20PX;
  bottom: 40PX;
  width: 80PX;
  height: 80PX;
  border-radius: 50%;
  background: linear-gradient(#4F4F4F,#000000);
  box-shadow: 0PX 3PX 5PX 0PX rgba(0,0,0,0.5);
  color: #FFF;
}

.trial text {
  display: block;
  width: 100%;
  text-align: center;
}

.trial .iconfont {
  margin-top: 8PX;
  font-size: 34PX;
}

.trial .trial-title {
  margin-top: 1PX;
  font-size: 12PX;
  font-weight: bold;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.dialog .dialog-box .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 26PX;
  height: 26PX;
  background: #FFF;
  padding: 11PX 11PX;
}

.dialog-lipstick .dialog-box {
  position: absolute;
  top: calc(50% - 210PX);
  left: calc(50% - 133PX);
  width: 266PX;
  height: 360PX;
  background: #FFF;
}

.dialog-lipstick .dialog-box .lipstick-info {
  position: absolute;
  top: 30PX;
  left: 36PX;
  width: calc(100% - 72PX);
  height: 230PX;
  overflow: hidden;
}

.dialog-lipstick .dialog-box .lipstick-info image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 154PX;
  background: #FFF;
}

.dialog-lipstick .dialog-box .lipstick-info text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 17PX;
  line-height: 17PX;
  color: #000;
  text-align: left;
  overflow: hidden;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-title {
  top: 155PX;
  font-size: 14PX;
  font-weight: bold;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-subtitle {
  top: 171PX;
  font-size: 12PX;
  color: #444;
  font-weight: normal;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-original-price {
  top: 190PX;
  font-size: 10PX;
  font-weight: bold;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-border {
  position: absolute;
  top: 209PX;
  left: 0;
  width: 100%;
  height: 1PX;
  background: #000000;
}

.lipsticks-list .lipstick-info .lipstick-color-code {
  position: absolute;
  top: 217PX;
  left: 0;
  width: 14PX;
  height: 14PX;
}

.lipsticks-list .lipstick-info .lipstick-color {
  position: absolute;
  width: 100%;
  padding: 5% 7%;
  height: 14PX;
  line-height: 14PX;
  font-size: 10PX;
  font-weight: 400;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-color-code {
  position: absolute;
  top: 217PX;
  left: 0;
  width: 14PX;
  height: 14PX;
}

.dialog-lipstick .dialog-box .lipstick-info .lipstick-color {
  position: absolute;
  top: 217PX;
  left: 22PX;
  width: calc(100% - 18PX);
  height: 14PX;
  line-height: 14PX;
  font-size: 10PX;
  font-weight: 100;
}

.dialog-lipstick .dialog-box .pay {
  position: absolute;
  bottom: 30PX;
  left: 36PX;
  width: calc(100% - 72PX);
  height: 45PX;
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 45PX;
  font-size: 16PX;
}

.dialog-lipstick .dialog-box .pay.hover {
  opacity: 0.8;
}

.dialog-less-coins .dialog-box {
  position: absolute;
  top: calc(50% - 210PX);
  left: calc(50% - 133PX);
  width: 266PX;
  height: 244PX;
  background: #FFF;
}

.dialog-less-coins .icon {
  width: 75PX;
  height: 75PX;
  margin-top: 38PX;
  margin-left: calc(50% - 38PX);
  background: #fff;
  display: block;
}

.dialog-less-coins .title {
  margin-top: 5PX;
  width: 100%;
  height: 25PX;
  font-size: 18PX;
  color: rgba(0,0,0,1);
  line-height: 25PX;
  display: block;
  text-align: center;
}

.dialog-less-coins .buy {
  margin-top: 18PX;
  margin-left: 36PX;
  width: calc(100% - 72PX);
  height: 45PX;
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 45PX;
  font-size: 16PX;
}

.dialog-topup{
  .close{
    left: 0;
    right: unset;
  }
  .share-img{
    background: none;
    position: absolute;
    right: -30px;
    width: 158px;
    height: 143px;
    top: -52px;
  }
}

.dialog-topup .dialog-box {
  position: absolute;
  top: calc(50% - 210PX);
  left: calc(50% - 133PX);
  width: 266PX;
  height: 300PX;
  background: #FFF;
}

.dialog-topup .topup-title {
  position: absolute;
  top: 38PX;
  left: 0;
  width: 100%;
  height: 25PX;
  font-size: 18PX;
  font-weight: bold;
  color: rgba(0,0,0,1);
  line-height: 25PX;
  text-align: center;
}

.dialog-topup .topup-balance {
  position: absolute;
  top: 92PX;
  left: 12PX;
  width: calc(100% - 24PX);
  height: 23PX;
  font-size: 16PX;
  font-weight: 200;
  color: rgba(0,0,0,1);
  line-height: 23PX;
}

.dialog-topup .topup-balance .iconfont {
  margin-right: 5PX;
  font-size: 13PX;
}

.dialog-topup .topup-balance .balance-value {
  float: right;
}

.dialog-topup .topup-blocks {
  position: absolute;
  top: 135PX;
  left: 12PX;
  width: calc(100% - 14PX);
  height: 160PX;
  overflow: hidden;
}

.dialog-topup .topup-blocks .pay {
  width: 74PX;
  height: 48PX;
  background: rgba(244,244,244,1);
  margin-right: 10PX;
  display: inline-block;
}

.dialog-topup .topup-blocks .pay.hover {
  background: rgba(220,220,220,1);
}

.dialog-topup .topup-blocks .pay .pay-coins {
  width: 100%;
  text-align: center;
  height: 17PX;
  font-size: 13PX;
  font-weight: lighter;
  color: rgba(0,0,0,1);
  line-height: 17PX;
  display: block;
  margin-top: 8PX;
}

.dialog-topup .topup-blocks .pay .pay-price {
  margin-top: 1PX;
  text-align: center;
  width: 100%;
  height: 14PX;
  font-size: 11PX;
  font-weight: normal;
  color: rgba(0,0,0,1);
  line-height: 14PX;
  display: block;
}
.my-tip{
  position: fixed;
  bottom: 4PX;
  right: 11PX;
  width: 374px;
  height: 70px;
  animation: 1s open infinite alternate;
  @keyframes open {
    from{
      transform: translateY(0PX);
    }
    to{
      transform: translateY(-5PX);
    }
  }
  image{
    width: 100%;
    height: 100%;
  }
}
