@import "../../../asset/styles/import";

.body {
  width: 100%;
  overflow-x: hidden;
}

.button-hover {
  background: #F2F2F2;
  color: inherit;
}

.orderBorder {
  height: 1PX;
  transform: scaleY(0.5);
  width: calc(100% - 30PX);
  background: #E5E5E5;
  position: absolute;
  left: 15PX;
  bottom: 0;
}

.order {
  position: relative;
  width: 100%;
  padding: 0 15PX;
  height: 160PX;
}

.order .infomation {
  position: relative;
  top: 17PX;
  width: 100%;
}

.order .infomation .image {
  width: 80PX;
  height: 95PX;
  border: 1PX solid #D8D8D8;
}

.order .infomation .right-part {
  position: absolute;
  top: 0;
  left: 88PX;
  width: calc(100% - 88PX);
  height: 80PX;
}

.order .infomation .right-part .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14PX;
  font-weight: normal;
  color: #000;
}

.order .infomation .right-part .original-price {
  position: absolute;
  top: 23PX;
  left: 0;
  width: 100%;
  font-size: 12PX;
  color: #000;
  font-weight: bold;
}

.order .infomation .right-part .status {
  position: absolute;
  top: 0PX;
  right: 0;
  width: 70PX;
  font-size: 14PX;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.order .infomation .right-part .brand {
  position: absolute;
  top: 38PX;
  left: 0;
  font-size: 16PX;
  font-weight: thin;
}

.order .infomation .right-part .iconfont {
  line-height: 8PX;
  position: relative;
  margin-right: 4PX;
}

.order .infomation .right-part .iconfont.icon-MAC {
  font-size: 60PX;
  top: 18PX;
  left: 2PX;
}

.order .infomation .right-part .iconfont.icon-huaban {
  font-size: 32PX;
  top: 7PX;
  left: 2PX;
  line-height: 20PX;
}

.order .infomation .right-part .iconfont.icon-MAC1 {
  font-size: 32PX;
  top: 7PX;
  left: 2PX;
  line-height: 26PX;
}

.order .infomation .right-part .iconfont.icon-MAC2 {
  font-size: 24PX;
  top: 3PX;
  left: 2PX;
  line-height: 32PX;
}

.order .infomation .right-part .iconfont.icon-MAC3 {
  font-size: 30PX;
  top: 6PX;
  left: 2PX;
  line-height: 32PX;
}

.order .infomation .right-part .iconfont.icon-MAC4 {
  font-size: 38PX;
  top: 10PX;
  left: 2PX;
  line-height: 30PX;
}

.order .infomation .right-part .brand .quality-goods {
  margin-left: 5PX;
  background: #000;
  color: #FFF;
  font-size: 10PX;
  padding: 1PX 2PX;
  position: relative;
  top: -1PX;
}

.order .bottom {
  position: relative;
  top: 20PX;
  width: 100%;
}

.order .bottom .order-id {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12PX;
  line-height: 24PX;
}

.order .bottom .deliver {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  color: #FFF;
  font-size: 12PX;
  width: 70PX;
  height: 24PX;
  text-align: center;
  line-height: 24PX;
  z-index: 99;
}

.empty {
  width: 100%;
  height: 100%;
  position: relative;
}

.empty .tip-image {
  width: 56PX;
  height: 65PX;
  background: #FFF;
  position: absolute;
  top: 117PX;
  left: calc(50% - 28PX);
}

.empty .tip-text {
  position: absolute;
  top: 204PX;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18PX;
}

.empty .tip-button {
  position: absolute;
  top: 255PX;
  left: 15%;
  width: 70%;
  height: 45PX;
  line-height: 45PX;
  color: #FFF;
  text-align: center;
  font-size: 20PX;
  background: #000;
}

.empty .tip-button.button-hover {
  opacity: 0.7;
}
