@import "../../asset/styles/import";
page{
  -webkit-overflow-scrolling: touch;
}
canvas{
  position: fixed;
  left: -10000px;
  top: 0;
}
.more{
  position: absolute;
  right: 30px;
  top: -60px;
  color: $gray;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  iconfont{
    display: flex;
  }
  &:active{
    color: #000;
    transition: all 0.3s;
  }
}
.line{
  width: 100%;
  border-top: 1px solid #9c9c9c;
}
message-item + message-item{
  display: block;
  border-top: 1px solid #ececec;
}
.float-share{
  position: fixed;
  bottom: 152px;
  right: 24px;
  image{
    width: 220px;
    height: 220px;
  }
}
