
@font-face {
  font-family: 'cm-iconfont'; /* project id 399961 */
  src: url('//at.alicdn.com/t/font_399961_w6mpyghbna02j4i.eot');
  src: url('//at.alicdn.com/t/font_399961_w6mpyghbna02j4i.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_399961_w6mpyghbna02j4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_399961_w6mpyghbna02j4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_399961_w6mpyghbna02j4i.svg#cm-iconfont')
      format('svg');
}
