@mixin showup {
  opacity: 0.4;
  transform: translate3d(0, 10rpx, 0);
  animation: showup 0.8s forwards ease-out;
}
@keyframes showup {
  0% {
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin fadein {
  transform: translate3d(0, 10rpx, 0);
  animation: fadein 0.8s forwards ease-out;
}
@keyframes fadein {
  0% {
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@mixin fadeout {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  animation: fadeout 0.4s forwards ease-in;
}
@keyframes fadeout {
  0% {
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 10rpx, 0);
    display: none;
  }
}

@mixin shakeKeyframes($name, $deg) {
	@-webkit-keyframes #{$name} {
		5% {
			-webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -#{$deg}deg);
			transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -#{$deg}deg);
		}
		6%,
		8%,
		10%,
		12% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, #{$deg}deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, #{$deg}deg);
		}

		7%,
		9%,
		11% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -#{$deg}deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -#{$deg}deg);
		}

		13% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
}

@mixin shake($name, $deg) {
	animation: #{$name} 4s linear infinite backwards;

	@include shakeKeyframes($name, $deg);
}

