page {
  font-family: /* EN */ -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial,
    /* CN */ 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei UI',
  'Microsoft Yahei', 'Source Han Sans CN', sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button{
	transition: all 0.3s;
	&:active{
		transform: scale(0.96);
	}
  &.card-btn{
    text-align: left;
    line-height: unset;
    padding: 0;
    margin: 0;
    &:active{
      transform: none !important;
    }
  }
	&.img-button{
		background: none;
		padding: 0;
		border: none;
		image{
			width: 100%;
			height: 100%;
		}
	}
	&.black{
		width: 425rpx;
		height: 80rpx;
		background: #000000;
		border-radius: 100rpx;
		font-size: 28rpx;
		color: #FFFFFF;
		text-align: center;
	}
  &.red{
    background: #FF312A;
    padding: 0px 88px;
    line-height: 80px;
    border-radius: 80px;
    font-size: 34px;
    color: #ECECEC;
    &:active{
      background: #FF312A;
    }
  }
}
.button-hover{
  transform: scale(0.96);
  background: #FF312A;
}

.line1px{
  width: 100%;
  position: relative;
  border-top: 1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
  .line1px{
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
  .line1px{
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
