@import "../../asset/styles/import";

.body {
  width: 100%;
  overflow-x: hidden;
}

.section {
  width: 100%;
  padding-left: 15PX;
  padding-right: 15PX;
  position: relative;
}

.sectionBorder {
  height: 1PX;
  transform: scaleY(0.5);
  width: calc(100% - 30PX);
  background: #E5E5E5;
  position: relative;
  left: 15PX;
}

.sectionHorizontalBorder {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5PX);
  width: 1PX;
  height: 100%;
  transform: scaleX(0.5);
  background: #E5E5E5;
}

.section .icon-arrow-right {
  position: absolute;
  top: calc(50% - 7PX);
  right: 15PX;
  font-size: 14PX;
  color: #989EAA;
}

.userinfo {
  height: 87PX;
}

.userinfo .name {
  font-size: 24PX;
  font-weight: bold;
  position: absolute;
  top: 15PX;
}

.userinfo .uid {
  position: absolute;
  font-size: 18PX;
  font-weight: 400;
  color: rgba(152,158,170,1);
  line-height: 28PX;
  top: 42PX;
}

.userinfo .avatar {
  width: 55PX;
  height: 55PX;
  position: absolute;
  right: 71PX;
  top: 15PX;
  border-radius: 50%;
}

.userinfo .avatar-logined {
  right: 48PX;
}

.functions {
  width: 100%;
  height: 90PX;
}

.functions .function {
  height: 100%;
  width: calc(50% - 0.5PX);
  position: absolute;
}

.functions .function-1 {
  padding-left: 15PX;
  left: 0PX;
}

.functions .function-2 {
  left: calc(50% + 0.5PX);
}

.functions .sectionHorizontalBorder {
  height: 56PX;
  top: 17PX;
}

.functions text {
  display: block;
}

.functions .function-2 text {
  margin-left: 28PX;
}

.functions .function-value {
  margin-top: 23PX;
  font-size: 18PX;
  font-weight: bold;
  color: black;
}

.functions .function-title {
  position: relative;
  top: -2PX;
  font-size: 12PX;
  color: #989EAA;
}

.bar {
  height: 59PX;
}

.bar .title {
  font-size: 16PX;
  color: black;
  line-height: 59PX;
}

.copyright {
  width: 100%;
  font-size: 10PX;
  color: #AAA;
  text-align: center;
  display: block;
  margin-top: 10PX;
  line-height: 20PX;
}

.hover {
  background: #F8F8F8;
}

