@import "../../../asset/styles/import";
.order-confirm{
  .top{
    padding: 36px 30px 50px 30px;
    background-color: #fff;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-image: url("https://klimg.pptmbt.com/pub/jz/postal.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 100% 6px;
    &:active{
      background-color: #f5f5f5;
    }
    .left{
      width: 100%;
      .lt{
        font-size: 28px;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .lb{
        margin-top: 6px;
        font-size: 24px;
        color: #4A4A4A;
      }
    }
    .right{
      width: 60px;
      text-align: right;
      flex-shrink: 0;
    }
  }
  .desc{
    margin-top: 20px;
    .item{
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      justify-content: space-between;
      background: #fff;
      .label{
        flex-shrink: 0;
      }
    }
  }
  .fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
      font-size: 52px;
      color: #000000;
      display: flex;
      margin-left: 30px;
      align-items: center;
    }
    .unit{
      font-size: 36px;
      margin-bottom: 4px;
    }
    button{
      width: 312px;
      height: 80px;
      line-height: 80px;
      padding: 0;
      border-radius: 6px;
      margin-right: 16px;
    }
  }
}
